body{
    background: rgb(72, 72, 175) ;
    font: bold 15pt Arial;
    color: black;
    text-align: center;
}

header{
    color: white;
    text-align: center;
}

input#ano{
    border-radius: 20px;
    text-align: center;
    width: 100px;
}

section{
    background: white;
    border-radius: 60px;
    padding: 15px;
    width: 500px;
    margin: auto;
    border-radius: 50px;
    background: linear-gradient(145deg, #41419e, #4d4dbb);
    box-shadow:  20px 20px 56px #3d3d95, 
             -20px -20px 56px #5353c9;
}
div{
    text-align: center;
    margin: auto;
    padding: 5px;
}