body{
    background: rgb(72, 72, 175) ;
    font: normal 15pt Arial;
    text-align: center;
}

header{
    color: white;
    text-align: center;
}

section{
    background: white;
    border-radius: 60px;
    padding: 15px;
    width: 300px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.425);
}
div{
    text-align: center;
    margin: auto;
    padding: 5px;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
    padding: 10px;
}
